[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
Jinja2 = "*"
watchdog = "*"
pyyaml = "*"
argh = "*"
flask = "*"
requests = "*"

[scripts]
build = "python3 build.py ../config.json.example"
# you can pass a config file to build-prod 
# like: pipenv run build-prod ./config.json 
build-prod = "python3 build.py"
watch = "bash watch.sh"
serve = "bash serve.sh"
