[flake8]
max-line-length = 100

# E221 and E241, multiple spaces: alignment really helps readability!
# E226, missing spaces: sometimes an operator reads better with no spaces.
ignore = E221, E241, E226
