/* Colours from:
  - "Cyber Monday": http://www.colourlovers.com/palette/1031661/Cyber_Monday
  - "Cyber Slut":   http://www.colourlovers.com/palette/975036/Cyber_Slut
 */

body {
  background: url("/script/background") center center / cover no-repeat fixed;
  font-family: monospace;
  color: white;
}

a, a:active, a:link, a:hover, a:visited {
  color: white;
}

.box, footer {
  background-color: #1E1A1C;
  border: 1px solid #764C61;
  box-shadow: 0 0 50px #F0546A;
}

select, audio, hr {
  border: 1px solid #764C61;
}

hr {
  background-color: 1px solid #764C61;
}

select {
  background-color: #1E1A1C;
  color: white;
  font-family: monospace;
}

.alert {
    color: #B83602;
}

.plain {
    color: white;
}

.info {
    color: #46C0AB;
    text-shadow: 0 0 5px #46C0AB;
}
