body {
  height: 100%;
  margin: 0;
  padding: 10em 0 0 0;
  box-sizing: border-box;
}

div.box {
  width: 960px;
  margin: 0 auto;
  padding: 1em;
}

div.controls {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

hr {
  margin: 1rem 0;
}

audio {
  width: 100%;
  margin: 1rem 0;
}

select, input {
  padding: 0;
  margin: 0;
}

input {
  padding: 0.3rem;
}

.alert {
  font-weight: bold;
  text-align: center;
}

.plain {
  font-weight: normal;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

fieldset ol, fieldset li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

fieldset li {
  margin-bottom: 0.5rem;
}

label {
  display: block;
  float: left;
}

input[type=file], input[type=url] {
  width: 70%;
}

dl {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

dt, label {
  width: 30%;
  font-weight: bold;
}

dd {
  margin-left: auto;
  width: 70%;
}

header, footer {
  text-align: center;
  width: 100%;
}

body > footer {
  position: absolute;
  bottom: 0%;
  width: 100%;
  margin: 0 0 1em 0;
  padding: 0.5em;
  box-sizing: border-box;
}

h1, h2 {
  margin: 0;
  padding: 0;
}

.withscript {
  display: none;
}

table {
  box-sizing: border-box;
}

.flex {
  display: flex !important;
  flex-flow: row wrap;
}

.col {
  flex: 1 0 auto;
  width: 45%;
}

.left {
  margin-right: 2%;
}

.right {
  margin-left: 2%;
}

#queue_body td {
  text-align: right;
}

.playbox header {
  margin-bottom: 0.5rem;
}

#queue {
  margin-right: 0;
}

.playbox footer {
  margin-top: 0.5rem;
}

table {
  width: 100%;
}

table .dur {
  width: 10em;
}

#lainplayer {
    width: 335px;
    margin: 0 auto;
}

#lainplayer i {
    font-size: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

#lainplayer input[type=range] {
    margin-left: 20px;
    margin-right: 20px;
}

#lainplayer #volume-button {
    width: 46px;
}

#lainplayer #play-toggle {
    width: 42px;
}

#play-toggle:hover {
    cursor:pointer;
}

#volume-button:hover {
    cursor:pointer;
}
