body {
  height: 100%;
  margin: 0;
  padding: 10em 0 0 0;
  font-size: 16px;
  box-sizing: border-box;
}

div.box {
  width: 760px;
  margin: 0 auto;
  padding: 1em;
}

div.controls {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

hr {
  margin: 1rem 0;
}

audio {
  width: 100%;
  margin-bottom: 1rem;
}

select {
  font-size: 0.9rem;
  padding: 0;
  margin: 0;
}

div.alert {
    font-weight: bold;
    text-align: center;
}

.plain {
    font-weight: normal;
}

dl {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

dt {
  width: 30%;
  font-weight: bold;
}

dd {
  margin-left: auto;
  width: 70%;
}

footer {
  position: absolute;
  bottom: 0%;
  width: 100%;
  margin: 0 0 1em 0;
  padding: 0.5em;
  box-sizing: border-box;
  text-align: center;
}

.marquee {
  height: 25px;

  overflow: hidden;
  position: relative;
}

.marquee div {
  display: block;
  width: 200%;
  height: 30px;

  position: absolute;
  overflow: hidden;

  animation: marquee 10s linear infinite;
}

.marquee span {
  float: left;
  width: 50%;
}

@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}
