{% import 'info_macros.html' as info_macros %}

<style type="text/css">
{% include "styles.css" %}
</style>

<head>
  <title>change your password</title>
</head>

<body>
<form action="" method=post class="form-horizontal">
   <div class="control-group">
       <div class="controls">
         <p>current password <input type="password" name="current_pass" required></p>
         <p>new password <input type="password" name="new_pass" required></p>
         <p>(again) <input type="password" name="double_check" required></p>
       </div>
   </div>
  
   <div class="control-group">
       <div class="controls">
         <button type="submit" class="btn btn-success">change pass</button>
       </div>
   </div>
 </form>
</body>