{% import 'info_macros.html' as info_macros %}

<style type="text/css">
{% include "styles.css" %}
</style>

<head>
  <title>edit settings</title>
</head>

<body>
    <form action="" method=post class="form-horizontal">
        <div id="dj_info_edit">
            edit your dj info
            {{ info_macros.dj_info(dj_info_dict, dj_info_names, False) }}
            <p>edit stream description (optional) <br>
                <textarea id="stream_desc" name="stream_desc">{{ current_desc }}</textarea>
            </p>
        </div>
        <div class="controls">
            <button type="submit" class="btn btn-success">save</button>
        </div>
    </form>
</body>