/* Colours from:
  - "Cyber Monday": http://www.colourlovers.com/palette/1031661/Cyber_Monday
  - "Cyber Slut":   http://www.colourlovers.com/palette/975036/Cyber_Slut
 */

body {
  background: url("/background") center center / cover no-repeat fixed;
  font-family: monospace;
  font-size: 16px;
  color: white;
}

a, a:active, a:link, a:hover, a:visited {
  color: white;
}

.box, body > footer {
  background-color: #1E1A1C;
  border: 1px solid #764C61;
  box-shadow: 0 0 50px #F0546A;
}

select, input, audio, hr, textarea {
  border: 1px solid #764C61;
}

hr {
  background-color: 1px solid #764C61;
}

select, input, textarea {
  color: white;
  font-family: monospace;
  font-size: 0.9rem;
  background-color: #1B1719;
}

.alert {
  color: #B83602;
}

.plain {
  color: white;
}

h1 {
  color: #46C0AB;
  text-shadow: 0 0 5px #46C0AB;
  font-size: 1.3rem;
  font-weight: normal;
}

h2 {
  font-size: 0.8rem;
}

h2, strong {
  color: #F0546A;
  text-shadow: 0 0 5px #F0546A;
  font-weight: normal;
}

input[type=button], input[type=submit] {
  color: #46C0AB;
  box-shadow: 0 0 5px #46C0AB;
  border-color: #153B3E;
  background-color: #153B3E;
}

thead {
  font-size: 1.2em;
}

.inlineheading {
  color: #F0546A;
}

#playlist {
  color: #999;
}

.current_track {
  font-weight: bold;
}

.track.current_track {
  color: #46C0AB;
}

.dur.current_track {
  color: #F0546A;
  padding-right: 1em;
}

#lainplayer i {
  color: #46C0AB;
}

.progressbar {
    background: #153B3E;
}

#track-progress {
    background: #46C0AB;
}
