body {
  height: 100%;
  margin: 0;
  padding: 3em 0 0 0;
  box-sizing: border-box;
}

div.box {
  width: 960px;
  margin: 0 auto;
  padding: 1em;
}

div.controls {
  margin: 0;
  padding: 0;
}

hr {
  margin: 1rem 0;
}

audio {
  width: 100%;
  margin: 1rem 0;
}

select, input, textarea {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input, textarea {
  padding: 0.3rem;
}

.alert {
  font-weight: bold;
  text-align: center;
}

.plain {
  font-weight: normal;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

fieldset ol, fieldset li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

fieldset li {
  margin-bottom: 0.5rem;
}

label {
  display: block;
  float: left;
}

input[type=file], input[type=url], input[type=text], textarea {
  width: 70%;
}

dl {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

dt, label {
  width: 30%;
  font-weight: bold;
}

dd {
  margin-left: auto;
  width: 70%;
}

header, footer {
  text-align: center;
  width: 100%;
}

body > footer {
  position: absolute;
  bottom: 0%;
  width: 100%;
  margin: 0 0 1em 0;
  padding: 0.5em;
  box-sizing: border-box;
}

h1, h2 {
  margin: 0;
  padding: 0;
}

.withscript {
  display: none;
}

table {
  box-sizing: border-box;
}

.flex {
  display: flex !important;
  flex-flow: row wrap;
}

.col {
  flex: 1 0 auto;
  width: 45%;
}

.left {
  margin-right: 2%;
}

.right {
  margin-left: 2%;
}

#queue_body td {
  text-align: right;
}

.playbox header {
  margin-bottom: 0.5rem;
}

#queue {
  margin-right: 0;
}

.playbox footer {
  margin-top: 0.5rem;
}

table {
  width: 100%;
}

table .dur {
  width: 10em;
}

#lainplayer {
  margin: 0 auto;
}

#lainplayer td {
  margin: 0;
  padding: 0;
}

#lainplayer td.button {
  padding: 0 20px;
  width: 30px;
}

.button:hover {
  cursor:pointer;
}

#lainplayer i {
  font-size: 30px;
}

.progressbar {
  width: 100%;
  height: 12.5px;
  border: none;
  border-radius: 2px;
  padding: 0;
}

#track-progress {
  border-radius: 2px;
  height: 100%;
  margin: 0;
  padding: 0;
}

#time-label{
  text-align:center;
}

/* schedule additions */

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.75);
  transition: opacity 200ms;
  visibility: hidden;
  opacity: 0;
}

.overlay .cancel_popup {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: default;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 75px auto;
  padding: 20px;
  background: #1E1A1C;
  border: 1px solid #764C61;
  width: 660px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  position: relative;
}

.popup .content {
  max-height: 500px;
  overflow: auto;
}
.popup p {
  margin: 0 0 1em;
}
.popup p:last-child {
  margin: 0;
}

.popup .content > table {
  border-collapse: collapse;
}
.popup .content > table td, .popup .content >  table th {
  border: 0px;
  border-right: 1px solid #764C61;
  padding-left: 10px;
}

.popup .content > table tr td:last-child,
.popup .content > table tr th:last-child {
  border-right: 0;
}

#sched_header, #sched_explanation{
  line-height:200%;
}

#sched_day {
  width: 20%;
}

#sched_text{
  width: 75%;
}

/* fake queue */

#dj_pic {
  width: 95%;
}
