body {
  height: 100%;
  margin: 0;
  padding: 3em 0 0 0;
  box-sizing: border-box;
}

div.box {
  max-width: 960px;
  margin: 0 auto;
  padding: 1em;
}

div.controls {
  margin: 0;
  padding: 0;
}

hr {
  margin: 1rem 0;
}

audio {
  width: 100%;
  margin: 1rem 0;
}

select, input, textarea {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input, textarea {
  padding: 0.3rem;
}

.alert {
  font-weight: bold;
  text-align: center;
}

.plain {
  font-weight: normal;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

fieldset ol, fieldset li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

fieldset li {
  margin-bottom: 0.5rem;
}

label {
  display: block;
  float: left;
}

input[type=file], input[type=url], input[type=text], textarea {
  width: 70%;
}

dl {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

dt, label {
  width: 30%;
  font-weight: bold;
}

dd {
  margin-left: auto;
  width: 70%;
}

header, footer {
  text-align: center;
  width: 100%;
}

body > footer {
  position: absolute;
  bottom: 0%;
  width: 100%;
  margin: 0 0 1em 0;
  padding: 0.5em;
  box-sizing: border-box;
}

h1, h2 {
  margin: 0;
  padding: 0;
}

.withscript {
  display: none;
}

table {
  box-sizing: border-box;
}

.flex {
  display: flex !important;
  flex-flow: row wrap;
}

.col {
  flex: 1 0 auto;
  width: 45%;
}

.left {
  margin-right: 2%;
}

.right {
  margin-left: 2%;
}

#queue_body td {
  text-align: right;
}

.playbox header {
  margin-bottom: 0.5rem;
}

#queue {
  margin-right: 0;
}

/* controls / lainplayer */

.controls {
  display: flex;
  flex-direction: column;
}

.lainplayer i {
  font-size: 30px;
}

.lainplayer-row {
  flex-direction: row;
  display: flex;
}

.lainplayer-row.progress {
  padding-top: 1em;
  padding-bottom: 1em;
}

.lainplayer .current-track {
  flex-basis: 0;
  flex-grow: 7;
}

.lainplayer .playback-buttons {
  flex-basis: 0;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lainplayer .playback-buttons .button-section {
    margin-left: 1em;
}

.lainplayer .playback-buttons .button {
    display: inline-block;
}

.lainplayer .inner-player {
  flex-basis: 0;
  flex-grow: 7;
}

.lainplayer .progress-label {
  flex-basis: 0;
  flex-grow: 1;
  text-align: right;
}

.lainplayer .progress-label span {
  white-space: nowrap;
}

.progressbar {
  width: 100%;
  height: 12.5px;
  border: none;
  border-radius: 2px;
  padding: 0;
}

#track-progress {
  border-radius: 2px;
  height: 100%;
  margin: 0;
  padding: 0;
}

#time-label{
  text-align:center;
}

.channel-row {
  display: flex;
  flex-wrap: wrap;
}

.playlist {
  width: 100%;
}

.playlist .dur {
  text-align: right;  
}

/* fake queue */

#dj_pic {
  width: 95%;
}

/* mobile overwrites */
@media only screen and (max-width: 768px) {
  .lainplayer .lainplayer-row {
    flex-direction: column;
  }

  .lainplayer .progress-label span {
    display: none;
  }

  .lainplayer .playback-buttons .button {
      padding: 0;
  }

  body > footer {
    position: relative;
    margin-top: 30px;
  }
}
