html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #261A29;
  display: flex;
  justify-content: center;
  align-items: center;
}

video, a {
  width: 100%;
  height: 100%;
  flex: 0 0 auto;
}
